html,
body {
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
  margin: 0;
  padding: 0;
}

.activism-detail-container {
  width: 100%;
  max-width: 100vw; /* Evita que el contenido se extienda más de lo necesario */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.divtitle {
  width: 100%; /* Usa 100% en lugar de 100vw */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #86cd82;
  padding: 15px 0;
  text-align: center;
  z-index: 1000;
}

.activism-detail-image {
  width: 100%; /* Se ajusta sin desbordar */
  max-width: 100vw; /* Evita que la imagen sobrepase el ancho de la pantalla */
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 20px;
}

.activism-detail-header {
  background-color: #d8e1d3; /* Igual que BusinessDetail */
  padding-bottom: 20px;
}

.activism-title {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-bottom: 40px;
}

.activism-description,
.activism-contact {
  font-size: 1.2rem;
  color: black;
  margin: 10px 0;
}

.activism-link {
  display: block;
  color: #007bff;
  text-decoration: none;
  text-align: center;

  font-size: 1.2rem;
}

.activism-link:hover {
  text-decoration: underline;
}

.activism-info {
  margin-bottom: 7rem;
}

.activism-info > * {
  margin-bottom: 20px;
}

.activism-contact {
  margin-top: 40px;
}
