/* Container styles */
.opening-hour-container {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 400px; /* Reduce el ancho */
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

/* Title styles */
.opening-hour-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1f3723;
}

/* List styles */
.opening-hour-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.opening-hour-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  font-size: 1rem;
  border-bottom: 1px solid #eaeaea;
}

.opening-hour-item:last-child {
  border-bottom: none;
}

/* Day styles */
.opening-hour-day {
  color: #000000;
  margin-right: 10px;
}

/* Time styles */
.opening-hour-time {
  color: #7f8c8d;
  text-align: left;
}

/* Message for unavailable hours */
.opening-hour-message {
  font-size: 1rem;
  color: #5b1008;
  margin: 15px 0;
}
