.business-detail {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.business-detail .header-business {
  text-align: center;
}

.business-detail .header-business img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-top: 0.8rem;
  margin: 0; /* Asegura que la imagen no tenga margen */
}

.business-detail .header-business h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 0.8rem;
}

/* Aplica margen solo a OpeningHour y VeganOption */
.business-info {
  margin-bottom: 7rem;
}

.business-info > * {
  margin-bottom: 20px; /* Espaciado entre los elementos internos */
}

.direccion {
  color: black;
}

.info-text {
  color: black;
}

.rating {
  text-align: center;
  color: black;
}

.rating,
.direccion {
  text-align: center;
  width: 100%;
}

.Nombre {
  text-align: center;
  color: black;
  width: 100%;
}

.header-business {
  background-color: #86cd82;
  position: relative; /* Cambia esto si tenía 'sticky' */
  padding-bottom: 1rem;
  width: 100%;
  top: 0;
  z-index: 10;
  margin-right: 0;
  margin-left: 0;
}
