.business-detail {
  max-width: 800px;
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* border-radius: 10px; */
  font-family: Arial, sans-serif;
  text-align: center;
}

.business-detail .header {
  text-align: center;
}

.business-detail .header img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0; /* Asegura que la imagen no tenga margen */
}

.business-detail .header h1 {
  font-size: 2rem;
  text-align: center;
}

/* Aplica margen solo a OpeningHour y VeganOption */
.business-info {
  margin-bottom: 100px;
}

.business-info > * {
  margin-bottom: 20px; /* Espaciado entre los elementos internos */
}

.direccion {
  color: black;
}

.info-text {
  color: black;
}

.header {
  background-color: #d8e1d3;
  padding-bottom: 20px;
}

.rating {
  text-align: center;
  color: black;
}

.rating,
.direccion {
  text-align: center;
  width: 100%;
}

.Nombre {
  text-align: center;
  color: black;
  width: 100%;
}
