.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: #86cd82;
}

.header-title {
  font-size: 2rem;
  color: black;
}

.header-controls {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  color: black;
}

.search-bar {
  width: 70%;
  margin-top: 10px;
  margin-left: 35px;
}

.filter-container.show {
  right: 0;
}

.toggle-filter-btn {
  padding: 5px 10px;
  margin: 10px;
}

.business-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 2rem;
  margin-bottom: 7rem;
  width: 100%;
  padding: 0 15px; /* Añadir un padding para margen adicional en los laterales */
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #000;
}

.business-card-wrapper {
  margin: 0px;
}

.business-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 180px;
  padding: 0 16px; /* Añadir un padding lateral para separar de los bordes */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white; /* Asegurar fondo */
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  z-index: 1000;
}

.header-title {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.search-bar {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  width: 250px;
}

.search-button,
.filters-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 24px;
  height: 24px;
}

.filters-button img {
  width: 24px;
  height: 24px;
}

.header {
  background-color: #86cd82;
}

.filter-container {
  position: fixed;
  top: 0;
  left: -300px; /* Inicialmente oculto fuera de la pantalla */
  width: 300px;
  height: 100vh;
  background-color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  padding: 20px;
  overflow-y: auto;
}

.filter-container.show {
  left: 0; /* Aparece en la pantalla */
}
