* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* ==== VARIABLES ==== */
:root {
  --primary-green: #86cd82;
  --secondary-green: #72a276;
  --darker-green: #14310c;
  --lighter-green: #d8e1d3;
  --accent-blue: #65def1;
}

/* ==== MOBILE FIRST ==== */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 24px;
  padding: 8%;
}

/* ==== MEDIA QUERIES (TABLET & DESKTOP) ==== */
@media (min-width: 600px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  .container {
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 800px;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

  button {
    font-size: 18px;
  }
}
