.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo semitransparente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* Asegura que esté por encima de otros componentes */
  padding-top: 20px;
  padding-bottom: 20px;
}

.business-form {
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 750px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-y: auto; /* Permite scroll si el contenido es grande */
  max-height: 90vh; /* Limita la altura del formulario */
}

.business-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #4ca1af; /* Color celeste suave */
}

.business-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
  color: #3a7e66; /* Verde suave */
}

.business-form input,
.business-form select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #d3d3d3; /* Borde gris suave */
  font-size: 1rem;
  color: #333;
  background-color: #f1f8f6; /* Fondo celeste suave */
  transition: all 0.3s ease;
}

.business-form input:focus,
.business-form select:focus {
  border-color: #4ca1af; /* Bordes celestes al hacer focus */
  outline: none;
  box-shadow: 0 0 8px rgba(76, 161, 175, 0.5); /* Sombra suave celeste */
}

.business-form input[type="checkbox"] {
  width: auto;
  margin-top: 0;
  margin-right: 10px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.submit-btn,
.close-btn {
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 48%;
  transition: all 0.3s ease;
}

.submit-btn {
  background-color: #4ca1af;
  color: white;
}

.submit-btn:hover {
  background-color: #3a8e97;
}

.close-btn {
  background-color: #5cb85c;
  color: white;
}

.close-btn:hover {
  background-color: #4cae4c;
}

.submit-btn:focus,
.close-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
